<% layout("./layouts/boilerplate") -%>
<body>
    <h3>Product Detials</h3>
    <ul>
        <li> <%= product.title %></li>
        <li> <%= product.description %></li>
        <li> &#8377;<%= product.price?product.price.toLocaleString("en-IN"):"N/A" %></li>
        <form method="GET" action="/products/<%=product._id%>/edit">
            <button>Edit</button>
        </form>
        <br><br>
        <form method="POST" action="/products/<%=product._id%>?_method=DELETE">
            <button>Delete</button>
        </form>
    </ul>
</body>
